OROS_OLLAMA_URL=http://127.0.0.1:11434
OROS_FAST_MODEL=gemma4:4b
OROS_PLANNER_MODEL=gemma4:26b
OROS_EMBEDDINGS_MODEL=nomic-embed-text
OROS_DATA_DIR=C:/Users/USER/AppData/Local/Temp/oros
OROS_ACCEPT_RISKS=0
FIRECRAWL_API_KEY=
