OROS_OLLAMA_URL=
OROS_FAST_MODEL=
OROS_PLANNER_MODEL=
OROS_EMBEDDINGS_MODEL=
OROS_DATA_DIR=
OROS_ACCEPT_RISKS=
FIRECRAWL_API_KEY=
CUSTOM_API_URL=
CUSTOM_API_KEY=
CUSTOM_FAST_MODEL=
CUSTOM_PLANNER_MODEL=
OPENROUTER_API_KEY=
MISTRAL_API_KEY=
OPENROUTER_FAST_MODEL=
OPENROUTER_PLANNER_MODEL=
OPENROUTER_EMBEDDINGS_MODEL=
MISTRAL_FAST_MODEL=
MISTRAL_PLANNER_MODEL=
MISTRAL_EMBEDDINGS_MODEL=
CLIENT=